<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">#}
{#    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>#}
    {% load static %}
{#    动态解析静态文件#}
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <h1 class="text-center">注册</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="/register/" method="post">
                    <p>username:<input type="text" name="username" class="form-control"></p>
                    <p>password:<input type="password" name="password" class="form-control"></p>
{#                    <p>cofirm password:<input type="password" name="confirm_password" class="form-control"></p>#}


                    <input type="submit" class="btn btn-primary btn-block" value="注册">
                </form>
            </div>
        </div>
    </div>
</body>
</html>