{% extends 'home.html' %}
{% block title %}
    <title>Reg</title>
{% endblock %}
{% block selected %}
    <div class="col-md-3">
        <div class="list-group">
            <a href="/home/" class="list-group-item">
                首页
            </a>
            <a href="/login/" class="list-group-item">登录</a>
            <a href="/reg/" class="list-group-item active">注册</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <h1 class="text-center">注册页面</h1>
    <form action="" autocapitalize="">
        <p>username:<input type="text" class="form-control"></p>
        <p>password:<input type="text" class="form-control"></p>
        <input type="submit" class="btn btn-primary" value="注册">
    </form>
{% endblock %}